.show_container {
                width: 960px;
                float: right; 
                background-color: #ffffff;
                margin-top: 20px;
                margin-left: 300px;
                }

.h2             {
                margin-left: 70px;
                }


.h3             {
                margin-top: -10px;
                text-align: center;
                }

.h4             {
                margin-left: 100px;
                text-align: center;
                }
