.show_container {
                width: 960px;
                float: right; 
                background-color: #ffffff;
                margin-top: -20px;
                margin-left: 300px;
                }

.user_show      {
                padding: 100px;
                }


.h3             {
                margin-top: -150px;
                text-align: center;
                }

.h4             {
                text-align: center;
                }
