.show_container {
                float: right; 
                background-color: #ffffff;
                margin-top: 50px;
                margin-right: -430px; 
                }

.user_show      {
                padding: 100px;
                }

