
.form_container {
                   background-color: #d3d3d3;
                   padding-left: 50px;
                   padding-right: 50px;
                   padding-top: 30px;
                   padding-bottom: 30px;
                }

.name_field     {
                   width: 960px;
                   height: 20px;
                   margin-left: -424px;
                   
                }
                 
.field1         {
                   float: right;
                   margin-right: 50px;
                }
 
.submit_button  {
                   background-color: #696969
                   width: 100%
                }


